
/* Grafient For My Image */
.img-shadow::before {
    content: '';
    position: absolute;
    top: 10px;
    left: -10px;
    height: 100%;
    width: 100%;
    z-index: -1;
    border-radius: 100%;
    background: -webkit-linear-gradient(-45deg, rgba(246, 184, 70, .4) 0%, rgba(246, 184, 70, .01) 100%);
}

/* Design Above Actions => Download CV & Contact Me */
.horizontal-line::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 1px;
    background: -webkit-radial-gradient(left, ellipse cover, rgba(197, 202, 213, 0.15) 0%, rgba(255, 255, 255, 0) 80%);
}

.vertical-line::before {
    content: '';
    position: absolute;
    left: 50%;
    top: 0;
    width: 1px;
    height: 100%;
    background: -webkit-radial-gradient(top, ellipse cover, rgba(197, 202, 213, 0.15) 0%, rgba(255, 255, 255, 0) 70%);
}

/* Shadow For Main Info */
.card-start::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.2);
}

/* Gradient BG For Main Info */
.card-start::after {
    content: '';
    position: absolute;
    left: -15px;
    top: -15px;
    width: 100%;
    border-radius: 9px;
    height: 100%;
    z-index: -1;
    background: -webkit-linear-gradient(-45deg, rgba(246, 184, 70, .4) 0%, rgba(246, 184, 70, .01) 100%);
    opacity: 0.3;
}


