/* .cursor {
    position: fixed;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgba(246, 184, 70, 0.3);
    pointer-events: none;
    transform: translate(-50%, -50%);
    z-index: 9999;
    transition: transform 0.1s ease;
} */

.cursor {
    position: fixed;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgba(246, 184, 70, 0.3);
    pointer-events: none;
    transform: translate(-50%, -50%);
    z-index: 9999;
    transition:
            width 0.15s cubic-bezier(0.18, 0.89, 0.32, 1.28),
            height 0.15s cubic-bezier(0.18, 0.89, 0.32, 1.28);
        will-change: transform, width, height;
}

.cursor-hover {
    width: 60px;
    height: 60px;
    background-color: transparent;
    border: 1px solid #f6b846;
}