@if(isLoading) {
    <app-loader></app-loader>    
}

@else if(!isLoading) {
<app-cursor class="hidden md:block lg:block"></app-cursor>
<app-canvas></app-canvas>

<!-- Grid Container -->
<div class="w-full md:p-16 grid grid-cols-1 md:grid-cols-[auto_1fr] gap-2 lg:grid-cols-[auto_1fr]">

    <app-menu class="row-start-1 md:row-auto"></app-menu>

    <div class="grid grid-cols-1 lg:grid-cols-[1fr_750px] w-full">
        <!-- Main Info -->
        <app-main-info class="w-full min-w-0"></app-main-info>

        <!-- Content Section -->
        <div class="w-full bg-[#222222] rounded-lg m-auto h-[550px] relative">
            <div class="h-full w-full overflow-y-auto p-6">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>
}