@import "tailwindcss";


* {
    box-sizing: border-box;
}

:root {
    --tw-dark-mode: class;
}

body {
    font-family: "Lekton", monospace;
    font-weight: 400;
    font-style: normal;
    background-color: #222;
}


.lekton-bold {
    font-family: "Lekton", monospace;
    font-weight: 700;
    font-style: normal;
}

.lekton-regular-italic {
    font-family: "Lekton", monospace;
    font-weight: 400;
    font-style: italic;
}

html {
    scroll-behavior: smooth;
}

/* Custom scrollbar */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #333;
}

::-webkit-scrollbar-thumb {
    background: #555;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: #666;
}

/* Swiper Initilizating */
swiper-container {
    width: 100% !important;
    height: 100% !important;
}

swiper-slide {
    width: 100% !important;
    height: 100% !important;
}


.horizontal-line2::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    margin: -20px 0;
    width: 100%;
    height: 1px;
    background: -webkit-radial-gradient(left, ellipse cover, rgba(197, 202, 213, 0.25) 0%, rgba(255, 255, 255, 0) 80%);}

.middle-line::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 1px;
    height: 100%;
    background: -webkit-radial-gradient(left, ellipse cover, rgba(197, 202, 213, 0.25) 0%, rgba(255, 255, 255, 0) 80%);}

.transition-icon i {
    transition: 0.3s;
}

.transition-icon:hover i {
    transform: translateY(5px);
}
